@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

.container::before {
    content: '';
    background: url('kuztefjfmcr54smwt-Meta_Blogs.png') no-repeat center center/cover;
    /* background: url('mongodb-envelope.png') no-repeat center center/cover; */
    position: absolute;
    opacity: 0.3;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 60rem;
    z-index: -1;
}

body {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Lexend Deca', sans-serif;
}

p {
    font-family: 'Lexend Deca', sans-serif;
}

span {
    font-family: 'Lexend Deca', sans-serif;
    font-size: small;
    font-weight: 200;
}

a {
    color: #00684a;
}

.blockquoted-heading {
    width: 50vw;
}

.blockquoted-paras {
    width: 50vw;
}

.end-quotes {
    margin: auto 40px;
}

.btn {
    display: block;
    margin: auto;
    font: 1em sans-serif;
    background-color: #00ed64;
    border: 1px solid;
    border-radius: 4px;
    outline: none;
    padding: 12px 18px;
    cursor: pointer
}

hr {
    border: 0;
    width: 40rem;
    background-color: black;
    height: 1px;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
    margin: 0px -460px
}

.logos {
    width: -webkit-fill-available;
}

.logo-png {
    height: 33px;
}